<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
	$(function() {
		$('a#buy').on('click', function(e) {
			e.preventDefault()
			$.getJSON('/button_buy',
                	function(data) {
				//do nothing
			});
			return false;
		});
                $('a#sell').on('click', function(e) {
                        e.preventDefault()
                        $.getJSON('/button_sell',
                        function(data) {
                                //do nothing
                        });
                        return false;
                });

	});
</script>



<div class='container'>
	<h3>AVOM interface</h3>
	<form>
		<a href=# id='buy'><button class='btn btn-default'>Kopen</button></a>
		<a href=# id='sell'><button class='btn btn-default'>Openen</button</a>
	</form>

</div>




<!--
 hello world
<button name="btn" onclick="press()">Test</button> 
--> 
